<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="style.css">
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="fun.js"></script>

</head>
<body>

<div class="sidenav">
	<title> Protein with earlier predicted starts </title>
		<cand class="True_candidate_no_homolog">
		Correct protein with correct start
		<br>
		<info> the protein is correctly predicted and
		the N-terminus is as well correctly predicted </info>
		</cand>
		<cand class="True_candidate_homolog">
		Correct protein with incorrect start
		<br>
		<info> the protein is correctly predicted yet
		the N-terminus is falsely predicted as earlier</info>
		</cand>
		<cand class="False_candidate">
		Wrong protein with incorrect start
		<br>
		<info> the protein lacks evidence to be confidently called</info>
		</cand>
		</cand>
	{% for protein in protein_list %}
		{% set infos = protein_info_dic[protein[0]] %}
		{% if infos["eval"] == "fp" %}
		<cand id="{{ loop.index }}" class="False_candidate">
		{% else %}
		{% if infos["early_psms"]|length == 0 %}
		<cand id="{{ loop.index }}" class="True_candidate_homolog">
		{% else %}
		<cand id="{{ loop.index }}" class="True_candidate_no_homolog">
		{% endif %}
		{% endif %}
		{{ loop.index }}.
		<br>
		<info id="{{ loop.index }}"> psms = {{ infos["num_psm"] }},
		<br> psms evidence earlier start = {{ infos["early_psms"]|length }} </info>
		</cand>
	{% endfor %}
</div>

<div class="content">
	{% for protein in protein_list %}
	{% set infos = protein_info_dic[protein[0]] %}
		<div id="content_{{ loop.index }}" class="candidate">
		<h2>Protein</h2>

		{% if infos["eval"] == "fp" %}
		<h3>Wrong protein with incorrect start</h3>
		{% else %}
		{% if infos["early_psms"]|length == 0 %}
		<h3>Correct protein with incorrect start</h3>
		{% else %}
		<h3>Correct protein with correct start</h3>
		{% endif %}
		{% endif %}
		<h3>ID:</h3>
		<p>{{ protein[0] }}</p>

		<h3>s&#770;</h3>
		<p>{{ infos["mean_top_psms"] }}</p>

		<h3>unique PSMS</h3>
		<p>{{ infos["unique_psms"] }}</p>

		<p>see in <a href="{{ infos["ucsc_link"] }}">UCSC-Genome-Browser</a></p>
		
		{% if infos["strand"] == "1" %}
		<p>orientation ---></p>
		{% else %}
		<p>orientation &lt;---</p>
		{% endif %}
		</div>
	{% endfor %}
</div>
</body>
</html> 
